{% extends './base.html' %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'blog/auth.css' %}">
{% endblock %}

{% block body %}
    <main>
        <div id="form-wrapper">
            <h1>{{ auth_type|title }}</h1>

            {% if error %}
                <p class="error">{{ error }}</p>
            {% endif %}

            <form action="/{{ auth_type }}/" method="POST">
                {% csrf_token %}
                {{ form }}
                <input type="submit" value="Submit">
            </form>
        </div>
    </main>
{% endblock %}