{% extends './base.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'blog/create.css' %}">
{% endblock %}

{% include './nav.html' %}

{% block body %}
    {% if error %}
        {% include 'blog/error.html' with error=error %}
    {% endif %}

    <h2>Create a post</h2>

    <form action='/post/' method='POST' enctype='multipart/form-data'>
        {% csrf_token %}
        {{ form }}
        <input type='submit' value='Submit'>
    </form>
{% endblock %}