#error-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, .75);
    display: flex;
    justify-content: center;
    align-items: center;
}

#error {
    padding: 14px;
    background-color: whitesmoke;
    box-shadow: 1px 2px 3px black;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#error-close-btn {
    border-radius: 7px;
    color: whitesmoke;
    background-color: tomato;
    box-shadow: 1px 1px rgba(255, 99, 71, .25);
}