#footer {
    background-color: #201E1E;
    color: #FFFAFA;
    max-width: 100vw;
    width: 100%;
    height: 100px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    padding: 0 30px;
    position: absolute;
    left: 0;
    bottom: 0;
}

#footer-p {
    font-size: 14px;
}